.pokecard {
  border-color: $ButtonLight $ButtonShadow $ButtonShadow $ButtonLight;
  border-style: solid;
  border-width: 2px;
  background-color: $ButtonLight;
  height: 425px;
  width: 600px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  @media (max-width: $ig-small-screen) {
    width: 90vw;
    font-size: 0.8rem;
    transform: translate(-50%, -40%);
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
  }

  &__tabs {
    height: 280px;
  }

  &__file-btns {
    & button {
      border-style: solid;
      border-width: 2px;
      border-color: transparent;
      margin: 10px 5px;
      padding: 2px 4px;
      background-color: transparent;
    }

    &--exit {
      &:hover {
        border-style: solid;
        border-width: 2px;
        border-color: $ButtonHighlight $ButtonShadow $ButtonShadow
          $ButtonHighlight;
      }
      &:active {
        border-color: $ButtonShadow $ButtonHighlight $ButtonHighlight
          $ButtonShadow;
        outline: none;
      }
    }
  }
  &__basic-info {
    display: flex;
    height: 100%;
    @media (max-width: $ig-small-screen) {
      flex-direction: column-reverse;
      text-align: center;
    }
    &--image {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $ig-small-screen) {
        margin: 0 auto;
      }

      width: 35%;
      height: 100%;
      & img {
        height: 200px;
        width: 200px;
        @media (max-width: $ig-small-screen) {
          height: 120px;
          width: 120px;
        }
      }
    }
    &--info {
      display: flex;
      flex-direction: column;
      flex: 1;
      &--title {
        text-transform: capitalize;
      }
      &--types {
        display: flex;
        margin: 1rem 0;
        @media (max-width: $ig-small-screen) {
          justify-content: center;
        }

        & p {
          margin-right: 1rem;
          padding: 5px 10px;
          text-transform: capitalize;
        }
      }
      &--size {
        display: flex;
        @media (max-width: $ig-small-screen) {
          justify-content: center;
        }
        & p {
          margin-right: 1rem;
        }
      }
      &--flavor {
        margin-top: 1rem;
        @media (max-width: $ig-small-screen) {
          padding: 0 2rem;
        }
      }
    }
  }

  &__stats {
    position: absolute;
    top: 120px;
    width: 100%;

    &--container {
      box-sizing: border-box;
      margin: -10px 5px 0px 5px;
      background: rgb(198, 198, 198);
      color: rgb(10, 10, 10);
      border-style: solid;
      border-width: 2px;
      border-color: rgb(254, 254, 254) rgb(10, 10, 10) rgb(10, 10, 10)
        rgb(254, 254, 254);
      position: relative;
      display: block;
      height: 100%;
      padding: 16px;
      font-size: 1rem;
    }

    &--table {
      display: table;
      width: 100%;
      border-style: solid;
      border-width: 2px;
      border-color: rgb(132, 133, 132) rgb(254, 254, 254) rgb(254, 254, 254)
        rgb(132, 133, 132);
      &__head {
        display: table-header-group;

        &--row {
          display: table-row;
          height: calc(33px);
          line-height: calc(33px);
          vertical-align: middle;
        }
      }
      &__header {
        position: relative;
        padding: 0px 8px;
        display: table-cell;
        vertical-align: inherit;
        background: rgb(198, 198, 198);
        cursor: default;
        user-select: none;
        color: rgb(10, 10, 10);
        margin: 0px;
        border-style: solid;
        border-width: 2px;
        border-color: $ButtonHighlight $ButtonShadow $ButtonShadow
          $ButtonHighlight;
        font: inherit;
      }
      &__body {
        background: white;
        display: table-row-group;

        &--row {
          cursor: default;
          display: table-row;
          height: calc(33px);
          line-height: calc(33px);
          vertical-align: middle;
          text-transform: capitalize;
          &:hover {
            background: rgb(6, 0, 132);
            color: rgb(254, 254, 254);
          }
        }
        &--cell {
          padding: 0px 8px;
        }
      }
    }
  }
}
